<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="trip-wrap">
    <div id="trip-wrap-title"><h1>로그인</h1></div>
    <hr>
    <div>
        <form action="/loginProc" method="post" name="loginForm">
            <input id="user_id" type="text" name="user_id" placeholder="id"/>
            <input id="user_passwd" type="password" name="user_passwd" placeholder="password"/>
            <input type="submit" value="login"/>
            <input type="button" value="취소">
        </form>
    </div>

</div>
</body>
</html>